<!DOCTYPE html>
<html>
  <head>
    <title>Slate Driver</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="slatedriver" ng-controller="HomeCtrl">
     <nav-bar></nav-bar>
     <ui-view></ui-view>
  </body>
</html>
